.board
  %h1.board_title= @board.title
  .board_detail_actions
    .dropdown
      = image_tag 'actions.png', class: 'dropbtn'
      .dropdown-content.mini
        = link_to '編集する', edit_board_path(@board)
        = link_to '削除する', board_path(@board), data: { turbo_method: :delete, turbo_confirm: '本当に削除してもよろしいですか？' }
  - if @board.eyecatch.attached?
    .board_image
      = image_tag @board.eyecatch
  .board_content
    = @board.content

